<table class="table">
  <thead>
    <tr>
      <th>Rugnummer</th>
      <th>Name</th>
      <th>Run 1</th>
      <th>Run 2</th>
    </tr>
  </thead>
  <tbody>
    @foreach (var racer in Wedstrijd1.Racers)
    {
      <tr>
        <td>@racer.Rugnummer</td>
        <td>@racer.FirstName  @racer.LastName</td>
        <td>@racer.Run1</td>
        <td>@racer.Run2</td>
        
      </tr>
    }
  </tbody>
</table>

<RacerSelector Selected="AddRacer" />

}

@code {

  [Parameter]
  public Wedstrijd Wedstrijd1 {get; set;} = new();



  void AddRacer(Racer racer)
  {
    
  }

}
